body
{
  font-family: "lato", "sans-serif";
}
html{
  margin:0;
  padding: 0;
}
.main
  {
    width: 100%;
    height: auto;
    margin: auto;
  }
header
{
  width: 80%;
  height: 100px;
  margin: auto;
  border: 2px solid gray;
  border-radius: 63px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 4px;
  margin-bottom: 1px;
}
header h1
{
  padding-top: 10px;
}
.navbar
{
  margin-bottom: 0px;
}
/* container*/

#container_wrapper
{
  width: 100%;

  background-color: gray;

}
#contenu_area
{
  width: 102%;
  /*background-color: red;*/
  height: auto;
}
#sidebar
{
  width: 200px;
  height:1500px;
  background-color: black;
  float:left;
  top: 0px;
}
.sidebar_title
{
  background: white;
  color: black;
  font-size: 22px;
  padding: 8px;
  text-align: center;
  width: 109%;
}

/*footer*/
footer
{
  width: 100%;
  height: 100px;
  clear: both;
  background-color: blue;

}
.menuBar
{
  width: 100%;
  height: 130px;
  background: gray;
  color:white;
}
/*la barre de navigation */
a:hover {
  text-decoration: none;
 }
 nav ul li
{
 display: inline;
 list-style: none;
 text-transform: uppercase;

}
 nav ul li a {
   list-style: none;
   text-decoration: none;
   color: black;
   font-size: 18px;
   display: inline-block;
   justify-content: space-around;
   padding: 8px;
   margin: 5px;

  }

input[type=text]{
  color:black;
}
#cats li
{
  list-style: none;
  display: block;
  padding-top: 5px;
  margin-top: 8px;
}
#cats a
{
  color: white;
  margin: 4px;
  text-align: center;
  padding:7px;
  font-size: 18px;
  text-transform: uppercase;

}

header
{

}
/*affichage des produits main page*/


.produits_box
{
  width: 780px;
  text-align: center;
  margin-left: 35px;
  margin-bottom: 10px;
}
.single_produit
{
  float: left;
  margin-left: 25px;
  padding: 10px;
}
#add
{
  float: right;
}
.describe
{
  width: 500px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h3
{
  text-transform: uppercase;
}
.show_details
{
  display: flex;
  justify-content: space-between;

}
.in_details
{
  width: 75%;
  text-align: center;
}

/*niveau formulaire d'inscription*/
.inscriptionBG
{
  background: rgba(0, 0, 0, 0.3);

}
.blue
{
  color: red;
}
/*niveau profil*/
.photoDeProfil
{
  width: auto;
  height: auto;
  float: right;
  display: flex;
  justify-content: flex-end;
  top: -127px;

}
#enLigne
{
 /*background-color: red;*/
}

#supprimer
{
  /*background-color: midnightblue*/
}
#editer
{
  /*background-color: green;*/
}
#enVente
{
  top :20%;
  /*background-color: yellow;*/
  height: auto;
}
.compteDelete .btn
{
  display: flex;
  justify-content: space-between;
}
.parametres
{
  top: 28px;
}
.navTwo
{
  position: fixed;
  background-color:#fff;
  top: 0;
  width: 100%;
}
.container-fluid
{

padding: 0;
margin-right: 12px;
}
.row
{
  margin-right: 1px;
}
.Inprofil
{
  width: 75%;
  height: 45%;
  margin-left: 30px;

}
img
{
  width: 280px;
  height: 280px;
}
.profilDropdown
{
  float: right;
  margin: 0;
}
.table
{
  width: 90%;
}
.formulaireUser
{
  width: 50%;
  text-align: center;
   margin-left: 20%;
  margin-top: 26px;
  box-shadow: 5px 10px #888888;
}
.formulaireUser form
{
  margin-left: 25%;
}
input[type=file]
{
  border: none;
}
/*espace admin*/
#sidebar li a{
  color:white;
}
#sidebar
{
  background-color: gray;
}
.mainAdmin
{
  /*background-color: yellow;*/
  width: 34%;
}
.allPageProfil
{
  height: 800px;
  width: 100%;
}
.adminTable
{

  width: 29%;
}
/*page contact */

.contact{

}
/*footer*/
 footer h2
{
  margin-top: 0;
}
.separateur{
  width: 100px;
  height: 2px;
  background: red;
  margin: 0 auto;
  text-align: center;

}
.heading{
  text-align: center;
  margin-bottom: 60px;
}
#contactME{
   text-transform: uppercase;
   color: #fff;
}
#contact-form{
  font-size: 15px;
  background:rgba(0,0,0,0.2);
  padding: 40px;
  border-radius: 10px;
}
#contact-formInscrip
{
  font-size: 15px;
  background:#fff;
  padding: 40px;
  border-radius: 10px;

}
.blue{
  color: red;
}
.form-control{
  height: 40px;
  font-size: 15px;
}
.comments{
  font-size: 15px;
  font-style: italic;
  color:red;
  height:25px;
}
#contact-form input[type=submit]{
  margin:40px auto 0;
  display: block;
}
.envoyer{
  border:1px solid gray;
  background: gray;
  width: 50%;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding: 18px;
  transition: all 0.3s ease-in 0s;
}
.envoyer:hover{
  background: blue;
  border-color: gray;
}
.merci{
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}
